---
---

<ul>
	{% for category in site.data.care_tags_by_category %}
		<li class="careTagCategory">
			<ul class="u-clr">
				{% for careTagHash in category.care_tags %}
					{% assign identifier = careTagHash[0] %}
					{% assign careTag = careTagHash[1] %}

					<li class="careTag" id="{{ identifier | replace: '_', '-' }}">
						<div class="careTag-inner careTag-inner--shaded">
							<img src="{{ careTag.image_path }}" alt="{{ careTag.alt_text }}" class="careTag-symbol">
						</div>
						<div class="careTag-inner">
							<div class="careTag-description markdownify">
								{{ careTag.description | markdownify }}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
