$careTagInner-xPadding: 10px;
$careTagInner-yPadding: 15px;
$careTagInner-xPadding--grid: 5px;
$careTagInner-yPadding--grid: 10px;

.column {
	max-width: 600px;
	margin: 16px auto;
}


.careTagPreview {
	$size: 32px;
	$xPadding: $careTagInner-xPadding - $careTagInner-xPadding--grid;
	$yPadding: $careTagInner-yPadding - $careTagInner-yPadding--grid;

	display: inline-block;
	width: $size;
	height: $size;
	padding: $xPadding $yPadding;
	line-height: $size - 1px;
}

.careTagPreview-symbol {
	width: 100%;
	height: auto;
	max-height: 100%;
	line-height: normal;
}

.careTagCategory {
	list-style: none;
}

.careTag {
	box-sizing: border-box;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	overflow: hidden;
	margin-bottom: 12px;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(#000, .2);
	background: #fff;
	list-style: none;
	font-size: 16px;
}
.careTag--header,
.careTag--footer {
	width: auto;
	color: $fontColor-light;
}
.careTag--header {
	font-size: 18px;
}
.careTag--footer {
	float: right;
	font-size: 14px;
	text-align: right;
}

.careTag-inner {
	display: block;
	padding: $careTagInner-xPadding $careTagInner-yPadding;

	// for use with <a> tags
	color: inherit;
	text-decoration: none;
}
.careTag-inner--shaded {
	background: $backgroundColor-light;
}
.careTag-inner--gridContent {
	padding: $careTagInner-xPadding--grid $careTagInner-yPadding--grid;
	text-align: justify;
}

.careTag-symbol {
	display: block;
	width: 100%;
	max-width: 270px;
	height: auto;
	max-height: 200px;
	padding: 10px 0;
	margin: 0 auto;
}

.careTag-description {
	padding: 5px 0;
	text-align: center;
}

.markdownify {
	p + p {
		padding-top: 8px;
	}
}
