$careTagInner-verticalPadding: 15px;
$careTagInner-verticalPadding--grid: 10px;
$careTagPreview-size: 43px;
$careTagPreview-horizontalPadding: 5px;
$careTagPreview-verticalPadding: $careTagInner-verticalPadding - $careTagInner-verticalPadding--grid;

.column {
	max-width: 600px;
	margin: 16px auto;
}

.pageTitle {
	color: $fontColor-light;
	font-size: 18px;
	font-weight: $fontWeight-bold;
	text-decoration: none;
}
.pageCta {
	color: $fontColor-light;
}
.pageFooter {
	color: $fontColor-light;
	font-size: 14px;
	font-weight: $fontWeight-bold;
	text-align: right;
	text-decoration: none;
}

.careTagPreview {
	box-sizing: border-box;
	display: inline-block;
	width: $careTagPreview-size;
	height: $careTagPreview-size;
	padding: $careTagPreview-horizontalPadding $careTagPreview-verticalPadding;
	line-height: $careTagPreview-size - ($careTagPreview-verticalPadding * 2) - 1px;
}

.careTagPreview-symbol {
	width: 100%;
	max-width: $careTagPreview-size - ($careTagPreview-verticalPadding * 2);
	height: auto;
	max-height: $careTagPreview-size - ($careTagPreview-horizontalPadding * 2);
	line-height: normal;
}

.careTagCategory {
	list-style: none;
}

.careTag {
	box-sizing: border-box;
	display: block;
	float: left;
	clear: both;
	width: 100%;
	overflow: hidden;
	margin-bottom: 12px;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(#000, .2);
	background: #fff;
	list-style: none;
}
.careTag--pullRight {
	width: auto;
	float: right;
}

.careTag-inner {
	display: block;
	padding: 10px $careTagInner-verticalPadding;
}
.careTag-inner--shaded {
	background: $backgroundColor-light;
}
.careTag-inner--gridContent {
	padding-right: $careTagInner-verticalPadding--grid;
	padding-left: $careTagInner-verticalPadding--grid;
	text-align: justify;
}

.careTag-symbol {
	display: block;
	width: 100%;
	max-width: 270px;
	height: auto;
	max-height: 200px;
	padding: 10px 0;
	margin: 0 auto;
}

.careTag-description {
	padding: 5px 0;
	text-align: center;
}

.markdownify {
	p + p {
		padding-top: 8px;
	}
}
