/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    padding: 0 10px 40px;
    background: $backgroundColor;
    color: $fontColor;
    font-size: 16px;
    font-weight: $fontWeight-normal;
    font-family: 'Roboto Slab', sans-serif;
    line-height: normal;
}

@mixin selectionStyles {
    background: $selectColor;
    text-shadow: none;
}
::-moz-selection { @include selectionStyles; }
::selection { @include selectionStyles; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $backgroundColor;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

figure {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.u-hidden {
    display: none !important;
    visibility: hidden;
}

.u-visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.u-visuallyHidden--focusable {
    &:active,
    &:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.u-invisible {
    visibility: hidden;
}

%clearfix {
    *zoom: 1;

    &:after {
        clear: both;
    }
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
}

.u-clr {
    @extend %clearfix;
}

.u-bold {
    font-weight: $fontWeight-bold;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
